<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartones M치gicos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/editCard.css" />
    <script
      src="https://kit.fontawesome.com/9b2fedeb7f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header><%- include("./includes/navbar") %></header>
    <main>
      <section class="section1 h-100">
        <div class="container-xxl h-100">
          <div class="row h-100">
            <div class="col d-flex justify-content-center align-items-center">
              <form
                class="d-flex flex-column"
                action="/card/editCard/<%= result.item_id %>/<%= result.collector_id %>"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="mb-3 text-container">
                  <label for="name" class="fw-bold">Nombre de la carta</label>
                  <input
                    class="border border-0 border-bottom w-100"
                    type="text"
                    value="<%= result.name %>"
                    name="name"
                    id="name"
                  />
                </div>
                <div class="mb-3 text-container">
                  <label for="acquisition_year" class="fw-bold">A침o de adquisici칩n</label>
                  <input
                    class="border border-0 border-bottom w-100"
                    type="text"
                    value="<%= result.acquisition_year %>"
                    name="acquisition_year"
                    id="acquisition_year"
                  />
                </div>
                <div class="mb-3 text-container">
                  <label for="description" class="fw-bold">Descripci칩n</label>
                  <input
                    class="border border-0 border-bottom w-100"
                    value="<%= result.description %>"
                    type="text"
                    name="description"
                    id="description"
                  />
                </div>
                <div class="m-3 ">
                  <label for="foto"><i class="fa-solid fa-images fa-2xl"></i></label>
                  <input id="foto" type="file" hidden name="img">
                </div>
                <div class="p-2">
                  <button type="submit" class="general-button p-2">
                    Enviar
                  </button>
                  <button
                    class="general-button p-2"
                    onclick="window.location.href='/collector/oneCollector/<%= result.collector_id %>'"
                    type="reset"
                  >
                    Cancelar
                  </button>
                  <button class="general-button p-2" type="reset">
                    Limpiar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("./includes/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
